body {
    padding: 2%;
    font-family: 'Inter', sans-serif;
}

#appicon {
    width: 10%;
}

#marketingimg {
    width: 70%;
    height: 70%;
}
.sellingpoint {
    width: 70%;
}
.linkbutton {
    background-color: #4A65F5;
    
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.material-symbols-rounded {
    padding: 2px;
}
.linkbuttoncontainer {
    padding: 2px;
}

#linksandinfo {
    border-radius: 12px;
}
#linksandinfocont {
    padding-top: 12px;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');